.login,.register{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.alert{
    margin-bottom: 10px;
}
.card{
    width:500px;
    min-height: 200px;
}