@import '~antd/dist/antd.css';
.h100 {
    min-height: calc(100vh - 64px);
}
.content{
    width: 100%;
    height: 100%;
    margin: auto;
}
.minResolution{
    min-height: calc(100vh - 128px);
    min-width: 880px;
    margin: auto;
}
.maxWidth{
    max-width: 1200px;
}
.calendar{
    width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}
.tag:hover{
    border: 1px solid darkgrey;
    cursor: pointer;
}