.table{
    margin-top: 50px;
    min-width: 880px;
    max-width: 100%;
    padding: 40px;
}
.trigger-input{
    cursor: pointer;
}
.trigger-input span:hover{
    padding: 4px;
    border: 1px solid darkgrey;
}
.remove-btn{
    color: crimson;
}
.remove-btn:hover{
    color: #d67b33;
}